/* Initial loading */

body {
	max-width: 1024px;
	margin: auto;
	font-family: calibri, san-serif, arial;
	letter-spacing: 0.05em;
}

/* navBar */

#topNav {
	width: 100%;
	height: 10vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	font-weight: bold;
	color: #FFF;
}
nav,
#topNav #navItems {
	background-color: #505A64;
}

#topNav .navInner {
	max-width: 1024px;
	margin: auto;
	padding: 0 10vw;
}

@media screen and (min-width: 1024px) {
	#topNav .navInner {
		padding: 0 2em;
	}
}

#topNav .logo {
	float: left;
	background-image: url("../img/logoThumb.png");
	background-size: auto 7vh;
	background-repeat: no-repeat;
	background-position: 0 1.5vh;
	padding: 1.5vh 0 1.5vh 8vh;
	display: none;
	cursor: pointer;
}

@media screen and (min-width: 1024px) {
	#topNav .logo {
		display: block;
	}
}

#topNav .logo h1 {
	font-size: 9vh;
	line-height: 0.75em;
	font-weight: 100;
	float: left;
}

#topNav .logo div {
	float: left;
	margin-left: 1em;
	line-height: 3.5vh;
	font-size: 1vh;
}

#topNav .logo p {
	font-size: 3vh;
}

#topNav #mobileMenu {
	line-height: 6vh;
	padding: 2vh;
	color: #FFF;
	font-size: 6vh;
	display: block;
	cursor: pointer;
}

#topNav #navItems {
	display: none;
	margin-left: -4vh;
}
#topNav .navItem {
	font-size: 4vh;
	line-height: 10vh;
	padding: 1vh 6em 1vh 1.2em;
	text-decoration: none;
	cursor: pointer;
	display: block;
	margin-top: -4px;
	border-top: 1px solid #353e48;
}

#topNav a.navItem {
	color: #FFF;
}

@media screen and (min-width: 1024px) {
	#topNav #mobileMenu {
		display: none;
	}
	#topNav #navItems {
		float: right;
		display: block;
		background-color: transparent;
		margin-left: 0;
	}
	#topNav .navItem {
		display: inline;
		border-top: none;
		margin-top: 0;
		padding: 3vh 0.5em;
	}
	#topNav .navItem:not(.touch):hover {
		background-color: rgba(0, 0, 0, 0.15);
	}
	#topNav .navItem:not(:last-child) {
		margin-right: 0.2em;
	}
}

.clearDiv {
	clear: both;
}

/* mastHead */
#container {
	position: relative;
	width: 100%;
	padding: 0 10vw;
}

@media screen and (min-width: 1024px) {
	#container {
		padding: 0 2em;
	}
}

#mastHead {
	position: relative;
	margin: 0 auto;
	height: 100vh;
	width: 100%;
}

#mastHead img {
	max-width: 100%;
	max-height: 80vh;
	width: auto;
	height: auto;
	position: absolute;
	top: 55%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
	#mastHead img {
		max-width: 80%;
		max-height: 70vh;
	}
}

/* End of masthead */

/* Shared styles (projects/aboutMe) */

#container h3 {
	font-size: 2em;
	font-weight: bold;
	line-height: 1.5em;
	color: #c9793e;
}

@media screen and (min-width: 1024px) {
	#container h3 {
		font-size: 3.5em;
		font-weight: normal;
	}
}

#container p {
	font-size: 1em;
	line-height: 1.3em;
	color: #8a9097;
	text-align: left;
}

#container b,
#container a {
	font-size: 1em;
	font-weight: bold;
	color: #505A64;
	white-space: nowrap;
}

@media screen and (min-width: 568px) {
	#container p {
		text-align: justify;
	}
}

@media screen and (min-width: 1024px) {
	#container p,
	#container b,
	#container a {
		font-size: 1.2em;
	}
}

/* End of shared styles */

/* Projects */

#projects {
	height: 90vh;
	position: relative;
}

#projects #window {
	height: 70vh;
	width: 100%;
	overflow: hidden;
}

#projects #projectSlider {
	height: 50vh;
	width: 100%;
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#projects #projectSlider .project {
	float: left;
	-webkit-transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, padding 0.6s ease-in-out;
	-moz-transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, padding 0.6s ease-in-out;
	-ms-transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, padding 0.6s ease-in-out;
	-o-transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, padding 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, padding 0.6s ease-in-out;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	overflow: hidden;
	cursor: pointer;
}

#projects #projectSlider .project.showing {
	box-shadow: 2px 2px 6px #8b8e90;
}

#projects #projectSlider .project img {
	display: block;
}

#projects #projectSlider .project .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10% 4%;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

#projects #projectSlider .project .caption p {
	color: #FFF;
	text-align: left;
	font-size: 0.8em;
	line-height: 1.1em;
}

@media screen and (min-width: 1024px) {
	#projects #projectSlider .project .caption p {
		font-size: 1em;
		line-height: 1.3em;
	}
}

#projects #projectSlider .project.showing .caption {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

#projects #window .leftThumb,
#projects #window .rightThumb {
	width: 30%;
	padding: 4%;
}
#projects #window .leftHide,
#projects #window .rightHide {
	width: 0;
	padding: 0;
}

#projects #window .showing {
	width: 40%;
	padding: 0;
}

#projects #window img {
	width: 100%;
}

/*End of projects*/

/* About me */

#aboutMe {
	line-height: 1.5em;
	min-height: 90vh;
}

#aboutMe:after {
	content: '';
	display: block;
	clear: both;
}

#container .content {
	width: 100%;
	margin-bottom: 2em;
}

#aboutMe > img {
	width: 60%;
	margin-left: 15%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

@media screen and (min-width: 1024px) {
	#aboutMe .content,
	#aboutMe > img {
		float: left;
	}

	#aboutMe .content {
		width: 66.66%;
		padding-right: 3em;
	}
	#aboutMe > img {
		width: 33.33%;
		margin-left: 0;
	}
}