/*-------- NCEA 2 TEMPLATE | THE ARTS ---------*/
/* PRIMARY COLOUR */
/*   default green rgb(51, 102, 84)   */
/*   darker green rgb(0, 64, 41)   */
/*   lighter green rgb(153, 179, 169)   */
/*   lightest green rgba(51, 102, 84, 0.12)   */

/* SECONDARY COLOUR */
/*   default purple rgb(106, 69, 115)   */
/*   darker purple rgb(59, 38, 64)   */
/*   NA   */
/*   lightest purple rgba(106, 69, 115, 0.12)   */

/* DROPBOX COLOUR */
/*   default red rgb(183, 41, 55)   */
/*   darker red rgb(91, 20, 31)   */
/*   NA   */
/*   lightest red rgba(183, 41, 55, 0.12)   */

/*-------------- GENERAL STYLES ---------------*/

h2,
h3,
h4 {
	color: rgba(51, 102, 84, 1);
}

.panel-default>.panel-heading {
	border-color: rgba(51, 102, 84, 1);
	background-color: rgba(51, 102, 84, 1);
}

/*-------------- GENERAL BUTTON ---------------*/
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.active.focus, 
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover{
	background-color: rgba(51, 102, 84, 1);
	border-color: rgba(51, 102, 84, 1);
}

.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
	background-color: rgba(51, 102, 84, 0.85);
	border-color: rgba(51, 102, 84, 0);
}

.externalButton,
.externalButton:focus,
.externalButton.focus,
.externalButton:active,
.externalButton.active,
.externalButton.active.focus, 
.externalButton.active:focus, 
.externalButton.active:hover,
.externalButton:active.focus,
.externalButton:active:focus,
.externalButton:active:hover,
.open>.dropdown-toggle.externalButton.focus,
.open>.dropdown-toggle.externalButton:focus, 
.open>.dropdown-toggle.externalButton:hover {
	background-color: rgba(106, 69, 115, 1);
	border-color: rgba(106, 69, 115, 1);
}

.externalButton:hover {
	background-color: rgba(106, 69, 115, 0.85);
	border-color: rgba(106, 69, 115, 0); 
}

/*---------- CHECK AND RESET BUTTON -----------*/
.btn-primary.reset,
.btn-primary.checkAnswer {
	color: rgba(51, 102, 84, 1);
	border-color: rgba(51, 102, 84, 1);
	background-color: transparent;
}

.btn-primary.reset:hover,
.btn-primary.checkAnswer:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(51, 102, 84, 1);
	border-color: rgba(51, 102, 84, 1);
}

/*-------------- GENERAL ALERT ----------------*/
.importantAlert {
	background: rgba(51, 102, 84, 0.12);
	border-color: rgb(51, 102, 84);
}

.cautionAlert {
	background: rgba(106, 69, 115, 0.12);
	border-color: rgb(106, 69, 115);
}

/*----------- ACTIVITY BOX ALERT --------------*/
.importantAlert-sidebar {
	background: rgba(51, 102, 84, 0.12);
	border-color: rgba(51, 102, 84, 1);
}

.cautionAlert-sidebar {
	background: rgba(106, 69, 115, 0.12);
	border-color: rgba(106, 69, 115, 1);
}

/*------------------ HEADER -------------------*/
#moduleHeaderContainer {
	background-color: rgba(51, 102, 84, 1);
}

/*--------------- NAV DROPDOWN ----------------*/
.dropdownChevron {
	color: rgb(51, 102, 84);
}

.nceaStandardContainer,
.timeFrameContainer {
	border-color: rgba(51, 102, 84, 1);
}

.timeFrameContainer p {
	color: rgba(51, 102, 84, 1);
}

.dlFullModuleContainer {
	border-color: rgba(106, 69, 115, 1);

}

.dlFullModuleContainer p {
	color: rgba(106, 69, 115, 1);
}

/*------------- ACTIVITY PANELS ---------------*/
.activity:hover .panel-body {
	border-color: rgba(51, 102, 84, 1);
}

/*------------- ACTIVITY DROPBOX --------------*/
.dropbox:hover .panel-body {
	border-color: rgba(183, 41, 55, 1);
}
.dropbox>.panel-heading,
.dropbox .btn-primary  { 
	background-color: rgba(183, 41, 55, 1);
	border-color: rgba(183, 41, 55, 1);
}

.dropbox>.panel-heading {
	color: rgba(255, 255, 255, 1); 
}

.dropbox .btn-primary:hover {
	background-color: rgba(183, 41, 55, 0.85);
	border-color: rgba(183, 41, 55, 1);
}

/*------------------- TABS --------------------*/
.nav-tabs {
	border-color: rgba(51, 102, 84, 1);
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
	background-color: rgba(51, 102, 84, 1);
}

/*--------------- Audio table -----------------*/
.audioTablePlaying {
	background: rgba(175, 218, 163, 0.55)!important;
}

/*------------------ FOOTER -------------------*/
.progress-bar {
	background-color: rgba(51, 102, 84, 1);
}
#back-link>i,
#forward-link>i {
	color: rgb(51, 102, 84);
}

/* hiddenInfo */
.audioTrigger {
	border-bottom: 3px solid rgba(106, 69, 115, 1);
}
.infoTrigger {
	border-bottom: 3px solid rgba(51, 102, 84, 1);
}

.hiddenInfo {
	background-color: rgba(51, 102, 84, 1);
}