/*-------- NCEA 2 TEMPLATE | THE ARTS ---------*/
/* PRIMARY COLOUR */
/*   default purple rgb(112, 43, 144)   */
/*   darker purple rgb(56, 22, 72)   */
/*   lighter purple rgb(169, 128, 188)   */
/*   lightest purple rgba(112, 43, 144, 0.12)   */

/* SECONDARY COLOUR */
/*   default green rgb(61, 154, 110)   */
/*   darker green rgb(28, 94, 62)   */
/*   NA   */
/*   lightest green rgba(61, 154, 110, 0.12)   */

/* DROPBOX COLOUR */
/*   default orange rgb(206, 106, 40)   */
/*   darker orange rgb(93, 48, 19)   */
/*   NA   */
/*   lightest orange rgba(206, 106, 40, 0.12)   */

/*-------------- GENERAL STYLES ---------------*/

h2,
h3,
h4 {
	color: rgba(112, 43, 144, 1);
}

.panel-default>.panel-heading {
	border-color: rgba(112, 43, 144, 1);
	background-color: rgba(112, 43, 144, 1);
}

/*-------------- GENERAL BUTTON ---------------*/
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.active.focus, 
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover{
	background-color: rgba(112, 43, 144, 1);
	border-color: rgba(112, 43, 144, 1);
}

.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
	background-color: rgba(112, 43, 144, 0.85);
	border-color: rgba(112, 43, 144, 0);
}

.externalButton,
.externalButton:focus,
.externalButton.focus,
.externalButton:active,
.externalButton.active,
.externalButton.active.focus, 
.externalButton.active:focus, 
.externalButton.active:hover,
.externalButton:active.focus,
.externalButton:active:focus,
.externalButton:active:hover,
.open>.dropdown-toggle.externalButton.focus,
.open>.dropdown-toggle.externalButton:focus, 
.open>.dropdown-toggle.externalButton:hover {
	background-color: rgba(61, 154, 110, 1);
	border-color: rgba(61, 154, 110, 1);
}

.externalButton:hover {
	background-color: rgba(61, 154, 110, 0.85);
	border-color: rgba(61, 154, 110, 0); 
}

/*---------- CHECK AND RESET BUTTON -----------*/
.btn-primary.reset,
.btn-primary.checkAnswer {
	color: rgba(112, 43, 144, 1);
	border-color: rgba(112, 43, 144, 1);
	background-color: transparent;
}

.btn-primary.reset:hover,
.btn-primary.checkAnswer:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(112, 43, 144, 1);
	border-color: rgba(112, 43, 144, 1);
}

/*-------------- GENERAL ALERT ----------------*/
.importantAlert {
	background: rgba(112, 43, 144, 0.12);
	border-color: rgb(112, 43, 144);
}

.cautionAlert {
	background: rgba(61, 154, 110, 0.12);
	border-color: rgb(61, 154, 110);
}

/*----------- ACTIVITY BOX ALERT --------------*/
.importantAlert-sidebar {
	background: rgba(112, 43, 144, 0.12);
	border-color: rgba(112, 43, 144, 1);
}

.cautionAlert-sidebar {
	background: rgba(61, 154, 110, 0.12);
	border-color: rgba(61, 154, 110, 1);
}

/*------------------ HEADER -------------------*/
#moduleHeaderContainer {
	background-color: rgba(112, 43, 144, 1);
}

/*--------------- NAV DROPDOWN ----------------*/
.dropdownChevron {
	color: rgb(112, 43, 144);
}

.nceaStandardContainer,
.timeFrameContainer {
	border-color: rgba(112, 43, 144, 1);
}

.timeFrameContainer p {
	color: rgba(112, 43, 144, 1);
}

.dlFullModuleContainer {
	border-color: rgba(61, 154, 110, 1);

}

.dlFullModuleContainer p {
	color: rgba(61, 154, 110, 1);
}

/*------------- ACTIVITY PANELS ---------------*/
.activity:hover .panel-body {
	border-color: rgba(112, 43, 144, 1);
}

/*------------- ACTIVITY DROPBOX --------------*/
.dropbox:hover .panel-body {
	border-color: rgba(206, 106, 40, 1);
}
.dropbox>.panel-heading,
.dropbox .btn-primary  { 
	background-color: rgba(206, 106, 40, 1);
	border-color: rgba(206, 106, 40, 1);
}

.dropbox>.panel-heading {
	color: rgba(255, 255, 255, 1); 
}

.dropbox .btn-primary:hover {
	background-color: rgba(206, 106, 40, 0.85);
	border-color: rgba(206, 106, 40, 1);
}

/*------------------- TABS --------------------*/
.nav-tabs {
	border-color: rgba(112, 43, 144, 1);
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
	background-color: rgba(112, 43, 144, 1);
}

/*--------------- Audio table -----------------*/
.audioTablePlaying {
	background: rgba(175, 218, 163, 0.55)!important;
}

/*------------------ FOOTER -------------------*/
.progress-bar {
	background-color: rgba(112, 43, 144, 1);
}
#back-link>i,
#forward-link>i {
	color: rgb(112, 43, 144);
}

/* hiddenInfo */
.audioTrigger {
	border-bottom: 3px solid rgba(61, 154, 110, 1);
}
.infoTrigger {
	border-bottom: 3px solid rgba(112, 43, 144, 1);
}

.hiddenInfo {
	background-color: rgba(112, 43, 144, 1);
}