/* RESET STYLES - DO NOT DELETE
--------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, article, aside, canvas,
details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
	font-family: Helvetica;
	color: #2a2a2a;
	padding-top: 80px;
	background-color: #FFF;
}
/*---------------Menu---------------*/
#container {
	width: 930px;
	margin: 0 auto;
	background-color: #FFF;
}
#header {
	width: 897px;
	padding-left: 33px;
	height: 80px;
	background-color: #e7e7e7;
	position:absolute;
    top:0;
}
#heading-section {
	height: 40px;
}
#course-code {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #0098BC;
	color: #FFF;
	margin-right: 13px;
	height: 24px;
	padding: 10px 8px 6px;
	display: inline-block;
	float: left;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0098BC;
	float: left;
	padding: 10px 0px 6px;
}
/*---------------Page layout---------------*/
h2 {
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 33px;
	color: #004C5E;
	position: relative;
}
h3 {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	color: #2a2a2a;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 33px;
	margin-bottom: 10px;
}
.content {
	width: 930px;
	padding-top: 60px;
	overflow: hidden;
	width: 877px;
	position: relative;
	background-image: url('../images/page-line.png');
	background-repeat: repeat-y;
	background-position: 0px 0px;
	padding-left: 53px;
	min-height: 100vh;
}
.content-text a {
	color: #0098BC;
	font-style: italic;
}
li a {
	color: #0098BC;
	font-style: italic;
}
.content-text {
	width: 550px;
	margin-left: 33px;
	margin-bottom: 33px;
	line-height: 25px;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.uLine {
	text-decoration: underline;
}
.page-marker {
	position: absolute;
	left: -30px;
	top: -4px;
}
h2 .page-marker {
	position: absolute;
	left: -30px;
	top: 0px;
}
@media screen and (max-width: 959px) {
	#container {
	max-width: 100%;
	}
	.content {
		max-width: 95%;
	}
}
/*---------------Hover explanation---------------*/
.trigger {
	background-color: #ddd;
	border-bottom: 1px dashed #000;
    text-decoration: none;
	cursor: pointer;
}
.explanation {
	width: 200px;
	background-color: #DDD;
	position: absolute;
	right: 0;
	top: 0;
	padding: 15px;
	display: none;
	line-height: 25px;
	font-size: 12px;
}
/*---------------Lists---------------*/
.bullet-intro {
	width: 550px;
	margin-left: 33px;
	margin-bottom: 10px;
	line-height: 25px;
}
.bullet-list {
	margin-bottom: 33px;
}
.bullet-list > li {
	width: 500px;
	margin-left: 85px;
	margin-bottom: 5px;
	line-height: 25px;
}
.bullet-list > li li {
	width: 460px;
	margin-left: 40px;
	margin-bottom: 5px;
	line-height: 25px;
}
/*---------------Button---------------*/
.language-button {
	-moz-box-shadow: 0px 2px 0px 0px #ccc;
	-webkit-box-shadow: 0px 2px 0px 0px #ccc;
	box-shadow: 0px 2px 0px 0px #ccc;
	background-color:#0098BC;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	border:2px solid #7FB8D2;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:normal;
	font-style:normal;
	display: inline-block;
	padding: 7px 16px 7px 16px;
	text-decoration:none;
	text-align:center;
	line-height: 1.4;
	transition: 0.1s;
	transition-property: initial;
	transition-duration: 0.2s;
	transition-timing-function: initial;
	transition-delay: initial;
	cursor: pointer;
}.language-button:hover {
	-moz-box-shadow: 0px 2px 0px 0px #0098BC;
	-webkit-box-shadow: 0px 2px 0px 0px #0098BC;
	box-shadow: 0px 2px 0px 0px #0098BC;
	background-color:#fff;
	color:#0098BC;
	border:2px solid #0098BC;	
}.language-button:active {
	position:relative;
	top:2px;
	box-shadow: none;
}
/*---------------Custom---------------*/

.note {
	color: red;
}